

.main-nav {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
}

.userProfileLogo {
  height: 30px;
  width: 30px;
  margin-right: 3px;
}

span.logout {
  cursor: pointer;
}


@media screen and (max-width: 960px) {
  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: small;
  }

  .navbar-right {
    display: flex;
    flex-direction: column;
    
  }
}
